In [2]:
# importing the libraries

import matplotlib as mat
import numpy as np
import pandas as pd

In [4]:
# importing the data set and displaying it 

data = './Water_Consumption_in_the_City_of_New_York.csv'
dataset = pd.read_csv(data, index_col = 0)
print(dataset)

      New York City Population  NYC Consumption(Million gallons per day)  \
Year
1979                 7102100.0                                   1512.00
1980                 7071639.0                                   1506.00
1981                 7089241.0                                   1309.00
1982                 7109105.0                                   1382.00
1983                 7181224.0                                   1424.00
1984                 7234514.0                                   1465.00
1985                 7274054.0                                   1326.00
1986                 7319246.0                                   1351.00
1987                 7342476.0                                   1447.00
1988                 7353719.0                                   1484.00
1989                 7344175.0                                   1402.00
1990                 7335650.0                                   1424.00
1991                 7374501.0                                   1469.00
1992                 7428944.0                                   1369.00
1993                 7506166.0                                   1368.50
1994                 7570458.0                                   1357.70
1995                 7633040.0                                   1325.70
1996                 7697812.0                                   1297.90
1997                 7773443.0                                   1205.50
1998                 7858259.0                                   1219.50
1999                 7947660.0                                   1237.20
2000                 8008278.0                                   1240.40
2001                 8024963.5                                   1184.00
2002                 8041649.0                                   1135.60
2003                 8058334.5                                   1093.70
2004                 8075020.0                                   1099.50
2005                 8091705.5                                   1138.00
2006                 8108391.0                                   1069.00
2007                 8125076.5                                   1114.00
2008                 8141762.0                                   1098.00
2009                 8158447.5                                   1007.50
2010                 8175133.0                                   1039.00
2011                 8337995.0                                   1021.00
2012                 8463949.0                                   1009.14
2013                 8565546.0                                   1006.10
2014                 8655309.0                                    996.00
2015                 8736703.0                                   1009.00
2016                 8794605.0                                   1002.00
2017                 8815448.0                                    990.20
2018                 8826472.0                                   1008.00
2019                 8824887.0                                    987.40
2020                 8804190.0                                    981.00
2021                 8467513.0                                    979.00

      Per Capita(Gallons per person per day)
Year
1979                                     213
1980                                     213
1981                                     185
1982                                     194
1983                                     198
1984                                     203
1985                                     182
1986                                     185
1987                                     197
1988                                     202
1989                                     191
1990                                     194
1991                                     199
1992                                     184
1993                                     182
1994                                     179
1995                                     174
1996                                     169
1997                                     155
1998                                     155
1999                                     156
2000                                     155
2001                                     148
2002                                     141
2003                                     136
2004                                     136
2005                                     141
2006                                     132
2007                                     137
2008                                     135
2009                                     123
2010                                     127
2011                                     122
2012                                     119
2013                                     117
2014                                     115
2015                                     115
2016                                     114
2017                                     112
2018                                     114
2019                                     112
2020                                     111
2021                                     116

In [5]:
# Test for empty rows or column positions 

dataset.isnull().sum()

New York City Population                    0
NYC Consumption(Million gallons per day)    0
Per Capita(Gallons per person per day)      0
dtype: int64

## Describing the data 
The data can be expressed either as:

- year and population data 
- populaion and total consumption
- year and per capita consumption
- year and total consumption

In [11]:
# check for duplicates in years
duplicated_years = dataset[dataset.duplicated(['Year'])]
duplicated_years

KeyError: Index(['Year'], dtype='object')